@charset "utf-8";

* {
	box-sizing: border-box ;
	margin: 0 ;
	padding: 0 ;
	font-family: Segoe UI, Calibri, Arial, Verdana ;
}
body {
	background-image: radial-gradient( circle, red, lightblue )
}
article {
	width: 900px ;
	height: 600px ;
	background-color: hsla( 200, 10%, 80%, 0.7 ) ;
	padding: 10px ;
	text-align:center ;
	
	display: table ;
}

article h1, article h2, article h3, article h4, article h5, article h6, article p {
	vertical-align: middle ;
	margint-top: 60px ;
}
h1 { font-size: 30px ;}
h2 { font-size: 24px ;}
h3 { font-size: 22px ;}
h4 {font-size: 20px ;}
p  { font-size: 18px ;}